@import "../../scss/mixin.scss";

.footer-wrapper {
	background: #fff;
  position: relative;
  padding: 30px;
  font-size: 12px;
  clear: both;
  z-index: 1;
  color: rgba(0, 0, 0, .65);
  @include box-shadow(0 1000px 0 1000px #fff);
}
